body, *, .fa {
  -webkit-font-smoothing: initial;
}
body,
.book .book-summary {
  font-family: "Crimson Text", "Baskerville", serif;
  line-height: 1.3;
  color: #111;
  font-size: 18px;
}
.book.font-family-0,
.book.font-family-1 {
  font-family: "Crimson Text", "Baskerville", serif;
  font-size: 18px;
}

.book .book-body .page-wrapper .page-inner section {
  font-size: 20px;
  line-height: 1.3;
}
.book .book-body .page-wrapper .page-inner section.normal {
  line-height: 1.3;
}

.book .book-body .page-wrapper .page-inner section.normal pre {
  background: none;
  font-size: 20px;
  line-height: 1.3;
}

pre,
code,
.book .book-body .page-wrapper .page-inner section.normal pre,
.book .book-body .page-wrapper .page-inner section.normal code,
.book .book-body .page-wrapper .page-inner section.normal pre>code {
  font-size: 18px;
  font-family: "Ubuntu Mono", monospace;
}

.book .book-body .page-wrapper .page-inner section.normal code {
  padding: 0;
  background: none;
}

.book .book-body .page-wrapper .page-inner section.normal h1,
.book .book-body .page-wrapper .page-inner section.normal h2,
.book .book-body .page-wrapper .page-inner section.normal h3,
.book .book-body .page-wrapper .page-inner section.normal h4,
.book .book-body .page-wrapper .page-inner section.normal h5,
.book .book-body .page-wrapper .page-inner section.normal h6 {
  font-weight: 600;
  margin: 1em 0 .5em 0;
}

.book .book-body .page-wrapper .page-inner section.normal h1 {
  font-size: 200%;
}
.book .book-body .page-wrapper .page-inner section.normal h2 {
  font-size: 150%;
}
.book .book-body .page-wrapper .page-inner section.normal h3 {
  font-size: 125%;
}
.book .book-body .page-wrapper .page-inner section.normal h4
.book .book-body .page-wrapper .page-inner section.normal h5,
.book .book-body .page-wrapper .page-inner section.normal h6 {
  font-size: 100%;
}
.katex {
  font-size: inherit;
}

.markdown-section sup {
  font-size: 75%;
}

.playground-runnable {
  position: relative;
  overflow-x: auto;
}

.playground-runnable .run {
  position: absolute;
  top: 0;
  right: 0;
  display: inline-block;
  background: #eee;
  padding: 5px 10px;
  border: none;
  border-radius: 0;
  outline: none;
  cursor: pointer;
  font-family: "Ubuntu Mono", monospace;
  font-size: 18px;
}
.playground-runnable .run:hover,
.playground-runnable .run:active,
{
  background: #ddd;
}
.book .book-body .page-wrapper .page-inner section.normal .playground-runnable .output {
  background-color: #eee;
  margin-bottom: $spacing-unit;
  font-size: 18px;
}
.playground-runnable .output.hidden {
  display: none;
}
.book .book-body .page-wrapper .page-inner section.normal .playground-runnable .output.error {
  font-size: 16px;
  color: #dd1144;
  background-color: #FBE2E8;
}

@keyframes blink {
  50% { color: transparent }
}

.loader .dot {
  animation: 1s blink infinite
}
.loader .dot:nth-child(2) {
  animation-delay: 250ms
}
.loader .dot:nth-child(3) {
  animation-delay: 500ms
}

