html, body {
  height: 100%;
}
body {
  font-family: "Crimson Text", "Baskerville", serif;

  max-width: 700px;
  margin: 0 auto;
  padding: 1em;

  line-height: 1.3;
  color: #333;
  font-size: 18px;
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
  -moz-font-feature-settings: "kern" 1;
  -o-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
  font-kerning: normal;
  -webkit-font-smoothing: antialiased;
}

p, pre, table, ul, ol {
  margin: 1em 0;
}

ul ol,
ul ul,
ol ul,
ol ol {
  margin: 0;
}

pre {
  position: relative;
  padding: 2em;
  overflow: auto;
}
pre,
code,
.controls .output {
  font-family: "Ubuntu Mono", monospace;
}

pre:before {
  display: block;
  content: attr(caption);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

pre:before,
table caption {
  font-family: "Crimson Text", "Baskerville", serif;
  font-style: italic;
  font-size: 16px;
  text-align: center;
}
table caption {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

body > table {
  position: relative;
  width: 100%;
  padding: 2em;
}

@media screen and (max-width: 700px) {
  body {
    font-size: 16px;
  }
  pre, code, .controls .output {
  }
  pre:before,
  table caption {
    font-size: 14px;
  }
}

a {
  color: #2a7ae2;
  text-decoration: none;
}
a:visited {
  color: #1756a9;
}
a:hover {
  color: #333;
  text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  margin: 1em 0 .5em 0;
}

h1 {
  font-size: 200%;
}
h2 {
  font-size: 150%;
}
h3 {
  font-size: 125%;
}
h4,
h5,
h6 {
  font-size: 100%;
}

.pdf-links {
  text-align: center;
}
.logo {
  margin-top: 6em;
  text-align: center;
}
header {
  text-align: center;
  margin: 3em 0 3em 0;
}
#TOC {
  margin: 0 0 0em 0;
}
footer {
  text-align: center;
  margin: 1em 0;
}

.title {
  font-size: 250%;
}
.subtitle {
  font-size: 150%;
  font-weight: 400;
}
.author, .date {
  font-weight: 400;
  font-style: italic;
}

.controls nav {
  display: block;
  float: right;
}
.controls:after {
  display: block;
  content: '';
  clear: both;
}

.controls nav form {
  display: inline-block;
}

.controls nav button,
.controls nav input {
  display: inline-block;
  padding: 5px;
  margin-left: 5px;
  border: none;
  border-radius: 0;
  cursor: pointer;
  background: none;
  font-family: "Crimson Text", "Baskerville", serif;
  font-size: inherit;
  font-style: italic;
  color: #2a7ae2;
}
.controls .run:hover,
.controls .run:focus,
.controls .run:active
{
  color: #1756a9;
}
.controls .output {
  margin-bottom: $spacing-unit;
  color: #888;
}
.controls .output.hidden {
  display: none;
}
.controls .output.error {
  font-size: 17px;
  color: #dd1144;
  background-color: #FBE2E8;
}

@keyframes blink {
  50% { color: transparent }
}

.loader .dot {
  animation: 1s blink infinite
}
.loader .dot:nth-child(2) {
  animation-delay: 250ms
}
.loader .dot:nth-child(3) {
  animation-delay: 500ms
}
