html, body {
  height: 100%;
}
body {
  font-family: "Crimson Text", "Baskerville", serif;

  max-width: 700px;
  margin: 0 auto;
  padding: 1em;

  line-height: 1.3;
  color: #333;
  font-size: 18px;
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
  -moz-font-feature-settings: "kern" 1;
  -o-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
  font-kerning: normal;
}

pre {
  padding: 0 2em;
  overflow: auto;
}
pre,
code {
  font-size: 16px;
  font-family: "Ubuntu Mono", monospace;
}

@media screen and (max-width: 700px) {
  body {
    font-size: 16px;
  }
  pre, code {
    font-size: 14px;
  }
}

a {
  color: #2a7ae2;
  text-decoration: none;
}
a:visited {
  color: #1756a9;
}
a:hover {
  color: #333;
  text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  margin: 1em 0 .5em 0;
}

h1 {
  font-size: 200%;
}
h2 {
  font-size: 150%;
}
h3 {
  font-size: 125%;
}
h4,
h5,
h6 {
  font-size: 100%;
}

.pdf-links {
  text-align: center;
}
.logo {
  margin-top: 6em;
  text-align: center;
}
header {
  text-align: center;
  margin: 4em 0 8em 0;
}
#TOC {
  margin: 0 0 6em 0;
}
footer {
  text-align: center;
  margin: 1em 0;
}

.title {
  font-size: 250%;
}
.subtitle {
  font-size: 150%;
  font-weight: 400;
}
.author, .date {
  font-weight: 400;
  font-style: italic;
}

.playground-runnable {
  position: relative;
}
.playground-runnable nav {
  position: absolute;
  bottom: 0;
  right: 0;
  display: block;
}

.playground-runnable nav form {
  display: inline-block;
}

.playground-runnable nav button,
.playground-runnable nav input {
  display: inline-block;
  padding: 5px;
  margin-left: 5px;
  border: none;
  border-radius: 0;
  cursor: pointer;
  background: none;
  font-family: "Crimson Text", "Baskerville", serif;
  font-size: 18px;
  font-style: italic;
  color: #2a7ae2;
}
.playground-runnable .run:hover,
.playground-runnable .run:focus,
.playground-runnable .run:active
{
  color: #1756a9;
}
.playground-runnable .output {
  background-color: #ddd;
  margin-bottom: $spacing-unit;
  font-size: 18px;
}
.playground-runnable .output.hidden {
  display: none;
}
.playground-runnable .output.error {
  font-size: 16px;
  color: #dd1144;
  background-color: #FBE2E8;
}

@keyframes blink {
  50% { color: transparent }
}

.loader .dot {
  animation: 1s blink infinite
}
.loader .dot:nth-child(2) {
  animation-delay: 250ms
}
.loader .dot:nth-child(3) {
  animation-delay: 500ms
}
