/*

Original highlight.js style (c) Ivan Sagalaev <maniac@softwaremaniacs.org>

*/

.hljs {
  display: block;
  overflow-x: auto;
}


/* Base color: saturation 0; */

.hljs,
.hljs-subst {
  color: #333;
}

.hljs-comment {
  color: #888888;
  font-style: italic;
}

.hljs-keyword,
.hljs-attribute,
.hljs-selector-tag,
.hljs-meta-keyword,
.hljs-doctag,
.hljs-name {
  /*color: olive;*/
}


/* User color: hue: 0 */

.hljs-type,
.hljs-string,
.hljs-number,
.hljs-selector-id,
.hljs-selector-class,
.hljs-quote,
.hljs-template-tag,
.hljs-deletion {
  color: #c30c45;
}

.hljs-title,
.hljs-section {
}

.hljs-regexp,
.hljs-symbol,
.hljs-variable,
.hljs-template-variable,
.hljs-link,
.hljs-selector-attr,
.hljs-selector-pseudo {
}


/* Language color: hue: 90; */

.hljs-literal {
  /*color: olive;*/
}

.hljs-built_in,
.hljs-bullet,
.hljs-code,
.hljs-addition {
  /*color: olive;*/
}


/* Meta color: hue: 200 */

.hljs-meta {
}

.hljs-meta-string {
}


/* Misc effects */

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}
